<div class="container">
  <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name | uppercase}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date|date:"d-MM-y"}}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> ${{event?.price}}</div>
    </div>
    <div class="col-md-6" *ngIf="event?.location">
      <address>
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
    <div *ngIf="event?.onlineUrl">
      <strong>Online URL: </strong>
      <a href="{{event?.onlineUrl}}">{{event?.onlineUrl}}</a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-2">
      <h3 style="margin: 0;">Sessions</h3>
    </div>

    <div class="btn-group btn-group-sm" style="margin-right: 1em; margin-left: 2em;">
      <button class="btn btn-default" [class.active]="sortBy==='name'" (click)="sortBy = 'name'">By Name</button>
      <button class="btn btn-default" [class.active]="sortBy==='votes'" (click)="sortBy = 'votes'">By Votes</button>
    </div>

    <div class="btn-group btn-group-sm">
      <button class="btn btn-default" [ngClass]="{'active': filterby ==='all'}" (click)="filterby='all'" >All</button>
      <button class="btn btn-default" [class.active]="filterby==='beginner'" (click)="filterby='beginner'"  >Beginner</button>
      <button class="btn btn-default" [class.active]="filterby==='intermediate'" (click)="filterby='intermediate'" >Intermediate</button>
      <button class="btn btn-default" [class.active]="filterby==='advanced'" (click)="filterby='advanced'" >Advanced</button>
    </div>

    <div class="col-md-10" *ngIf="!addMode">
      <a style="margin: 0; float:right;" (click)="addSession()">Add Session</a>
    </div>
  </div>

  <session-list *ngIf="!addMode" [sessions]="event?.sessions!" [filterBy]="filterby" [sortBy]="sortBy"></session-list>
  <create-session *ngIf="addMode" (saveNewSession)="saveSession($event)" (cancelAddSession)="cancelAdd()"></create-session>
</div>
